body {
	background: #28669D;
}
* {
	box-shadow: none!important;
}
#loginform {
	background: transparent;
	border: 0px;
}
#loginform label {
	color: #FFF;
}
#loginform input {
	background: #FFF;
	border: 0px;
}
#loginform input:focus {
	box-shadow: none!important;
}
#loginform input[type=submit] {
	display: block;
	min-width: 100%;
	text-shadow: none!important;
	box-shadow: none!important;
	border: 0px!important;
	height: auto!important;
	padding: 10px!important;
	background: #FE4686;
	margin-top: 20px;
	font-size: 1.3em;
	font-weight: 600;
	border-radius: 0px;
}
.message {
	background-color: #2185D0!important;
	color: #FFF;
	border: 0px!important;
	border-radius: 5px;
	font-weight: 600!important;
}
.login h1 a {
	background-image: url('../media/loginlogo.png');
	background-size: contain;
	background-position: center center;
	height: 140px;
	width: 340px;
}
#nav {
	text-align: center;
}
#nav a {
	color: #FFF!important;
}
#nav a:hover {
	color: #FFF!important;
	text-decoration: underline;
}
#backtoblog {
	display: none;
}
