/* CSS DIRECTORY
    1. =VARIABLES & IMPORT
	2. =PWFRAMEWORK
	3. =BOOTSTRAPFIX
	4. =GLOBAL
	5. =HEADER
	6. =CONTENT
	7. =FOOTER
	8. =FRONTPAGE
	9. =EXTRA
*/

/* ===================VARIABLES & IMPORT=================== */

/********* FONT IMPORT *********/
//No font import yet

/********* VARIABLES *********/
$primary: #00ff08;
$secondary: #00ff08;
$success: #00c354;
$dark: #191918;
$font-family-sans-serif: 'Arial', sans-serif !default;
$font-family-monospace: 'Arial', sans-serif !default;
$font-family-base: 'Arial', sans-serif !default;
$btn-border-radius: 7px;
$input-border-radius: 8px;

/********* BOOSTRAP IMPORT *********/
@import "../bootstrap/scss/bootstrap";

/* ===================PWFRAMEWORK=================== */
@import "../pwframework/pwframework";

/* ===================BOOTSTRAPFIX=================== */
@import "../pwframework/bootstrapfix";

/* ===================GLOBAL=================== */
@import "main/global";

/* ===================HEADER=================== */
@import "main/header";

/* ===================CONTENT=================== */
@import "main/content";

/* ===================FOOTER=================== */
@import "main/footer";

/* ===================FRONTPAGE=================== */
@import "main/frontpage";